

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



* {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    background-color: #e7e3d7;
    background-image: url(../img/paperptrn.png);
}



h1, h2 {
    color: #305d86;
}

p {
    font-size: 1.2em;
}

/*     background-image: url(../img/wood_pattern.png); */

blockquote p {
    font-size: 1em;
}

blockquote footer {
    font-size: .9em;
}

.jumbotron {
    padding: 0px;
    background: linear-gradient(rgba(0,0,50,.6),rgba(0,0,50,0.6)), url(../img/typist.jpg);
    background-position: center; 
    height: 450px;
    color: white;
}

.navbar-default {

    padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {

}

.navbar-default .navbar-brand {

    font-size: 1.8em;
    font-weight: bold;
}

.jumbotron p {
    font-weight: 300;
}

.row {
}

.maincontainer {
 background-image: none;
     box-shadow: 1px 1px 10px black;
     background-color: white;
   
}

.maincontrow {
    margin-top: 40px;

}

.LJ {
    color: #D6AD33;
}

.specrow {
    font-size: 1.2em;
    padding-left: 10px;
}